*{
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --theme-color1: rgb(26, 11, 85);
    --theme-color2: rgb(85, 6, 22);
    --theme-color3: rgb(190, 99, 13);
}
body{
    max-width: 1400px;
    margin: auto;
    width: 95%;
}
.auth-nav{
    display: flex;
    justify-content: right;
    background: var(--theme-color1);
}
.auth-nav a{
    text-decoration:none;
    padding: 0 16px;
    color: white;
}
.advert-section{
    max-width: 600px;
    max-height: 80px;
    background: green;
    margin: auto;
}
.main-header{
    margin: 20px;
}
.main-header img{
    display: block;
    margin: auto;
    width:100%;
    max-width: 370px;
    max-height: 160px;
}
.main-header h1::after{
    display: block;
    content: "Tasmania's First Nepali Magazine";
    font-size: .9rem;
    text-align: center;
    color: var(--theme-color3);
    font-style: italic;
}
.main-nav{
    display: flex;
    justify-content: center;
    background: var(--theme-color1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.main-nav a{
    text-decoration: none;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
}
.main-nav a:hover{
    background: var(--theme-color3);
}
.section-title{
    text-align: center;
    margin-top: 40px;
    background: var(--theme-color3);
    color: white;
}
.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 40px 0;
}
/* .items img{
    display: block;
    width: 100%;
    margin: auto;
} */
.item-type{
    grid-area: 1/2 span 1/ span1;
    color: var(--theme-color1);
    font-size: .8rem;
    font-style: italic;
    text-decoration: underline;
}
.title{
    grid-area: 2/2/span 1/ span 1;
    color: var(--theme-color2);
}
.author, .event-date{
    grid-area: 3/2/ span 1/span 1;
    color: var(--theme-color3);
}
.teaser{
    grid-area: 4/2/ span 1/ span 1;
    font-size: 1.1rem;
    padding-bottom: 5px;
}
.read-more-arrow{
    float: right;
    background: lightgray;
    padding: 0 10px;
}

/* Item styles below */
.item-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    grid-template-rows: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}
.item-image{
    grid-area: 1/1/span 5/span 1;
    width: 100%;
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
}
.image-gallery img{
    display: block;
    width: 100%;
}
footer{
    padding: 40px 0;
    text-align: center;
    background: var(--theme-color1);
    margin-top: 20px;
    color: white;
}

