*{
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --theme-color1: rgb(57, 42, 117);
    --theme-color2: rgb(85, 6, 22);
}
body{
    max-width: 1200px;
    margin: auto;
    width: 95%;
}
.auth-nav{
    display: flex;
    justify-content: right;
    background: var(--theme-color1);
}
.auth-nav a{
    text-decoration:none;
    padding: 0 16px;
    color: white;
}
.advert-section{
    max-width: 600px;
    max-height: 80px;
    background: green;
    margin: auto;
}
.main-header{
    margin: 20px;
}
.main-header img{
    display: block;
    margin: auto;
    width:100%;
    max-width: 370px;
    max-height: 160px;
}
.main-header h1::after{
    display: block;
    content: "Tasmania's First Nepali Magazine";
    font-size: .9rem;
    text-align: center;
    color: var(--theme-color1);
    font-style: italic;
}
.main-nav{
    display: flex;
    justify-content: center;
    background: var(--theme-color1);
}
.main-nav a{
    text-decoration: none;
    padding: 0 16px;
    color: white;
}
.section-title{
    text-align: center;
    margin-top: 40px;
    background: var(--theme-color2);
    color: white;

}
.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}
.items img{
    display: block;
    width: 100%;
    margin: auto;
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 100%;
    margin: auto;
}
.image-gallery img{
    display: block;
    width: 100%;
}
footer{
    padding: 40px 0;
    text-align: center;
    background: var(--theme-color2);
    margin-top: 20px;
    color: white;
}

